// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #3498db;
$primary-color-alt: #2980b9;
$secondary-color: #2c3e50;
$secondary-color-alt: #34495e;
