.auth-row {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  @include card;
  border: 0;
  img {
    width: 300px;
    display: block;
    margin: auto;
  }
  .card-header {
    @include card_title;
    margin-bottom: 0;
    h5 {
      margin: 0;
    }
  }
  .card-body {
    padding-top: 0;
    a {
      color: $primary-color;
      text-decoration: none;
    }
    a:hover {
      color: $primary-color-alt;
    }
    .auth-submit-btn {
      @include primary_btn;
    }
    .auth-submit-btn:hover {
      @include primary_btn_hover;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .auth-row {
    background: #fff;
    .card {
      align-items: center;
      border-radius: unset;
      box-shadow: none;
      .card-header {
        color: unset;
        border-radius: unset;
        background-color: #ffffff;
        padding: 1.5rem;
      }
      img {
        width: 230px;
      }
    }
  }
}
