.post-page {
  @include card;
  a {
    text-decoration: none;
    color: #555555;
  }
  border: 1px solid #eeeeee;
  .post-title {
    font-weight: bold;
  }
  .post-info {
    padding: 1rem;
  }
  .post-img {
    width: 100%;
  }
  .post-body {
    color: initial;
    padding: 1rem;
    padding-bottom: 0;
  }
  .post-categories {
    padding: 1rem;
    padding-top: 0;
    .post-category {
      color: #ffffff;
      background-color: $primary-color;
    }
  }
}

.post-page-comments {
  .post-page-comments-title {
    @include card_title;
  }
  margin: 1rem 0;
  .add-comment {
    background: #ffffff;
    margin: 1rem;
    form {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      img {
        width: 75px;
      }
      .add_comment_btn {
        @include primary_btn;
      }
      .add_comment_btn:hover {
        @include primary_btn_hover;
      }
    }
  }
  .comments {
    @include card;
    border: 1px solid #eeeeee;
    padding-bottom: 1rem;
    .comment {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem;
      img {
        width: 75px;
      }
      .comment-info p {
        margin: 0;
      }
      .comment-edit {
        text-decoration: none;
        color: #ffffff;
        border: 0;
        padding: 6px 10px 4px 10px;
        background: $primary-color;
      }
      .comment-edit:hover {
        background: $primary-color-alt;
      }
    }
  }
}
