#profile-navbar {
  .nav-link {
    color: $primary-color;
  }
  .nav-link.active {
    color: #ffffff;
    background-color: $primary-color;
  }
}
.profile-page-link-list {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(200 200 200 / 40%);
  height: 100%;
}
.profile-page {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(200 200 200 / 40%);
  height: 100%;
  // padding: 1rem;
  .card-header {
    color: #555555;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #ecf0f1;
    .profile-page-title {
      margin: 0;
    }
  }
  .card-body {
    padding: 1rem;
  }
  .profile-card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    .profile-img {
      max-width: 200px;
      padding: 3px;
      border: 3px solid $primary-color;
      margin: 0;
    }
    .user-name {
      font-weight: bold;
    }
    .badge {
      padding-top: 6px;
    }
  }
  ul {
    list-style: none;
    padding-left: 1.5rem;
    li {
      margin: 0.5rem 0;
    }
  }
  .uploaded-image-actions {
    width: fit-content;
  }
  .center-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .center-loader-message {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .cropper-view-box {
    border-radius: 50%;
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .profile-page {
    .profile-card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        align-items: center;
        li {
          margin: 0.25rem 0;
        }
      }
    }
  }
}
