.dashboard {
  overflow: hidden;
  > .row {
    height: 100vh;
  }
  .dashboard-col {
    padding: 0.7rem;
  }
  .dashboard-sidebar {
    background-color: $secondary-color;
    padding: 0;
    height: 100%;
    align-items: flex-start;
    .container-fluid {
      background-color: $secondary-color-alt;
      padding: 0;
      .navbar-brand {
        max-width: 90%;
        height: 60px;
        padding: 0.5rem;
        color: #ffffff;
        margin: 0;
        background-color: $secondary-color-alt;
        img {
          height: 45px;
          max-width: 100%;
        }
      }
      .navbar-toggler {
        color: #ffffff;
        margin: 0 1rem;
      }
      .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
      }
      .dashboard-list-title {
        margin: 0 1rem 0.5rem 1rem;
        // font-weight: bold;
        color: #95a5a6;
      }
      .navbar-collapse {
        overflow: auto;
        height: calc(100vh - 60px);
        background-color: $secondary-color;
        padding: 0.5rem 0;
        .dashboard-list {
          padding: 0;
          margin: 0.5rem 0;
          list-style: none;
          .nav-item {
            border-left: 2px solid $secondary-color;
            padding: 0.5rem 1rem;
            color: #bdc3c7;
            .dashboard-list-icon {
              margin-right: 0.5rem;
            }
          }
          .nav-item:hover {
            color: #ffffff;
            // border-left: 2px solid;
            background-color: $secondary-color-alt;
          }
          .nav-item.active {
            color: #ffffff;
            border-left: 2px solid;
            background: $secondary-color-alt;
          }
        }
      }
      .navbar-collapse.collapse.show {
        overflow: auto;
        height: calc(100vh - 60px);
      }
    }
  }
  .dashboard-content {
    height: calc(100vh - 60px);
    overflow: auto;
    .dashboard-nav-top {
      height: 70px;
      padding: 1rem 0;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgb(200 200 200 / 40%);
      display: flex;
      align-items: center;
      .container-fluid {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        .dashboard-navtop-title {
          margin: 0;
          color: #555555;
        }
        .dashboard-navtop-link {
          display: flex;
          align-items: center;
        }
      }
    }
    .dashboard-card {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(200 200 200 / 40%);
      .card-header {
        color: #555555;
        padding: 1rem;
        border-radius: 10px 10px 0px 0px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #ecf0f1;
        .card-header-title {
          margin: 0;
        }
      }
      .card-body {
        padding: 1rem;
      }
      .choices__list--multiple .choices__item {
        background-color: $primary-color;
        border-color: $primary-color;
      }
      .category-badge {
        background-color: $primary-color;
        padding: 0.3rem 0.5rem;
      }
      .category-badge:hover {
        background: $primary-color-alt;
      }
      .btn-primary {
        background: $primary-color;
        border-color: $primary-color;
        box-shadow: none;
      }
      .btn-primary:hover {
        background: $primary-color-alt;
        border-color: $primary-color-alt;
      }
      a.profile-link {
        color: $primary-color;
        text-decoration: none;
      }
      a.profile-link:hover {
        color: $primary-color-alt;
      }
      .user-profile-image {
        max-width: 25px;
        max-height: 100%;
        margin-right: 0.5rem;
      }
      .post-image {
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
      }
      .post-thumbnail {
        max-height: 100px;
        margin: 0.5rem;
        border-radius: 5px;
      }
      #postsTable {
        .table-center-items {
          display: flex;
          min-height: 115px;
          align-items: center;
          white-space: nowrap;
        }
        .post-info {
          display: flex;
          margin-right: 1rem;
          .post-links {
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
  .cropper-view-box {
    border-radius: unset;
    box-shadow: unset;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
  }
  #editor-container {
    height: 375px;
  }

  .ql-color .ql-picker-options [data-value=color-picker]:before {
    content: 'Pick Color';
  }

  .ql-color .ql-picker-options [data-value=color-picker] {
    background: none !important;
    width: 100% !important;
    height: 25px !important;
    text-align: center;
    color: blue;
    text-decoration: underline;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dashboard {
    .dashboard-sidebar .container-fluid {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      .navbar-collapse {
        height: calc(100vh - 70px);
        align-items: stretch;
        flex-direction: column;
      }
      .navbar-brand {
        height: 70px;
        max-width: 100%;
        display: flex;
        img {
          height: auto;
          width: auto;
          margin: auto;
          margin-left: 0;
          max-height: 50px;
        }
      }
    }
    .dashboard-content {
      height: 100vh;
    }

  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .dashboard {
    .profile-page .profile-card-body ul {
      align-items: flex-start;
    }
  }
}
